@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000315}}
.clearfix {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000318}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000319}}
ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000320}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000321}}
a:link {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000324}}
a:visited {
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000329}}
input {
  border: none;
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000334}}
body {
  font-family: "Microsoft Yahei";
  /*顶部导航*/
  /*定位栏*/
  /*搜索框*/
  /*职位类别导航*/
  /*返回顶部及我要反馈*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000338}}
body .nav-container {
  background: #333333;
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000341}}
body .nav-container .nav {
  line-height: 30px;
  font-size: 14px;
  width: 1300px;
  margin: 0 auto;
  color: #999999;
  padding-left: 20px;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000350}}
body .nav-container .nav a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000354}}
body .nav-container .nav .app {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000357}}
body .nav-container .nav .app a:link {
  color: #00b38a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000360}}
body .nav-container .nav .app a:visited {
  color: #00b38a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000363}}
body .nav-container .nav .app a:hover {
  color: #4EEE94;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000368}}
body .nav-container .nav .personal-info {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000370}}
body .nav-container .nav .personal-info li {
  display: inline-block;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000374}}
body .nav-container .nav .personal-info .my-info {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000376}}
body .nav-container .nav .personal-info .my-info .downlist {
  display: none;
  position: absolute;
  z-index: 10;
  width: 80px;
  right: 0;
  background: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000383}}
body .nav-container .nav .personal-info .my-info .downlist .mydownlist {
  font-size: 14px;
  text-align: center;
  display: block;
  width: 80px;
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000389}}
body .nav-container .nav .personal-info .my-info .downlist .mydownlist:hover {
  color: #fff;
  background: #474747;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\0000395}}
body .nav-container .nav .personal-info .my-info:hover .downlist {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003108}}
body .header {
  height: 56px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003112}}
body .header .header-container {
  width: 1200px;
  margin: 0 auto;
  height: 56px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003117}}
body .header .header-container .location {
  vertical-align: top;
  display: inline-block;
  height: 54px;
  width: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003128}}
body .header .header-container .location .change-location {
  vertical-align: bottom;
  font-size: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003134}}
body .header .header-container .main-nav {
  display: inline-block;
  margin-left: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003137}}
body .header .header-container .main-nav .nav-list {
  display: inline-block;
  margin-right: 36px;
  float: left;
  height: 56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003142}}
body .header .header-container .main-nav .nav-list a {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  line-height: 54px;
  width: 50px;
  height: 54px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003149}}
body .header .header-container .main-nav .nav-list a:hover {
  border-bottom: 2px solid #00b38a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003160}}
body .search-container {
  background: #f2f5f4;
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003165}}
body .search-container .search-wrapper {
  display: inline-block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003168}}
body .search-container .search-wrapper .search {
  text-indent: 1em;
  font-size: 18px;
  display: inline-block;
  height: 46px;
  width: 796px;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  border-right-color: #00b38a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003177}}
body .search-container .search-wrapper .search:focus {
  border: 1px solid #00b38a;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003182}}
body .search-container .search-wrapper .search-tips {
  text-align: left;
  display: none;
  position: absolute;
  z-index: 20;
  width: 796px;
  left: 0px;
  top: 48px;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003193}}
body .search-container .search-wrapper .search-tips .search-list span {
  text-indent: 1em;
  display: inline-block;
  color: #5d5d5d;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003202}}
body .search-container .search-wrapper .search-tips .search-list .guess-list {
  text-indent: 1em;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003207}}
body .search-container .search-wrapper .search-tips .search-list .guess-list:hover {
  cursor: pointer;
  background: #00b38a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003215}}
body .search-container .search-wrapper button {
  vertical-align: middle;
  display: inline-block;
  width: 142px;
  height: 48px;
  line-height: 48px;
  background: #00b38a;
  border: none;
  color: white;
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003226}}
body .search-container .search-wrapper .search-hot {
  text-align: left;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #5d5d5d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003232}}
body .search-container .search-wrapper .search-hot a {
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003236}}
body .search-container .search-wrapper .search-hot a:visited {
  color: #00b38a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003239}}
body .search-container .search-wrapper .search-hot a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003248}}
body .container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003253}}
body .container .job-category {
  font-size: 20px;
  padding: 10px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003259}}
body .container .job-category .job-nav {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003261}}
body .container .job-category .job-nav .job-nav-list {
  position: relative;
  width: 320px;
  height: 56px;
  line-height: 56px;
  text-indent: 1em;
  vertical-align: middle;
  color: #5d5d5d;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003271}}
body .container .job-category .job-nav .job-nav-list .right-float {
  font-size: 14px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 14px;
  height: 56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003280}}
body .container .job-category .job-nav .job-nav-list .job-more {
  width: 600px;
  height: 700px;
  border: 1px solid grey;
  display: none;
  position: absolute;
  z-index: 10;
  background: #fff;
  left: 310px;
  top: 0px;
  border: none;
  outline: 1px solid grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003290}}
body .container .job-category .job-nav .job-nav-list .job-more .border-cover {
  width: 2px;
  height: 56px;
  position: absolute;
  left: -1px;
  top: 0;
  z-index: 20;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003300}}
body .container .job-category .job-nav .job-nav-list:hover {
  border: 1px solid #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003303}}
body .container .job-category .job-nav .job-nav-list:hover .job-more {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003308}}
body .container .job-category .job-nav .job-nav-list a {
  display: inline-block;
  margin-left: -6px;
  text-align: left;
  font-size: 14px;
  margin-left: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003314}}
body .container .job-category .job-nav .job-nav-list a:hover {
  color: #00b38a;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003325}}
body .container .job-category .advertis {
  display: inline-block;
  float: right;
  margin-top: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003330}}
body .container .job-category .clearfix {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003338}}
body .container .job-list {
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003342}}
body .container .job-list .job-tab {
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003346}}
body .container .job-list .job-tab li {
  display: inline-block;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  margin-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003353}}
body .container .job-list .job-tab li:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003358}}
body .container .job-list .job-tab-content {
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003360}}
body .container .job-list .job-tab-content li {
  display: none;
  height: 660px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003365}}
body .container .job-list .job-tab-content li .job-info {
  background: url("../images/job-info.jpg");
  float: left;
  width: 380px;
  height: 198px;
  margin: 8px;
  border: 1px solid #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003373}}
body .container .job-list .job-tab-content li .highlight {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003381}}
body .container .checkmore {
  width: 388px;
  height: 44px;
  border: 1px solid #00b38a;
  color: #00b38a;
  margin: 10px auto;
  text-align: center;
  line-height: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003389}}
body .container .checkmore:hover {
  background: #00b38a;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003398}}
body .container .company-intro .hot-company {
  padding-left: 10px;
  width: 80px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003404}}
body .container .company-intro .hot-company:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003409}}
body .container .company-intro .company-list {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003416}}
body .container .company-intro .company-list .company-info {
  float: left;
  margin: 6px;
  width: 284px;
  height: 264px;
  border: 1px solid #e6e6e6;
  background: url("../images/company-info.jpg");
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003428}}
body .container .on {
  border-bottom: 2px solid grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003433}}
body .container .link {
  height: 46px;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003438}}
body .container .link p {
  width: 80px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  border-bottom: 2px solid grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003444}}
body .container .link p:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003449}}
body .container .link-list {
  float: left;
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 20px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003457}}
body .container .link-list a {
  display: inline-block;
  font-size: 14px;
  margin: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003461}}
body .container .link-list a:hover {
  color: #00b38a;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003468}}
body .container .morelink {
  float: right;
  margin-top: 20px;
  color: #5d5d5d;
  height: 20px;
  line-height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003476}}
body .container .morelink:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003485}}
body .footer {
  padding-top: 10px;
  text-align: center;
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003489}}
body .footer .footer-link {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003491}}
body .footer .footer-link a {
  display: inline-block;
  margin: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003496}}
body .footer p {
  font-size: 12px;
  color: grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003500}}
body .tool {
  position: fixed;
  right: 50px;
  bottom: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003506}}
body .tool .back-to-top {
  display: none;
  width: 50px;
  height: 56px;
  background: url("../images/backtotop.jpg");
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/myPro\/scss\/demo\.scss}line{font-family:\00003512}}
body .tool .feedback {
  background: url("../images/feedback.jpg");
  width: 50px;
  height: 56px;
}
